<footer class="article-footer">
  <div class="article-share-box">
    <div class="article-share-links">
      <a href="http://twitter.com/intent/tweet?text={{ .Title | safeJS }}%20%7C%20{{ .Site.Title }}%20{{ .Permalink | safeJS }}%20%40{{ .Site.Params.twitter }}" class="fa fa-twitter article-share-twitter" target="_blank" title="Twitter"></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeJS }}" class="fa fa-facebook article-share-facebook" target="_blank" title="Facebook"></a>
      <a href="http://b.hatena.ne.jp/entry/{{ .Permalink | safeJS }}" class="fa fa-hatena article-share-hatena" target="_blank" title="Hatena"></a>
    </div>
  </div>

  {{ if and (not (eq .Site.DisqusShortname "")) (not .Params.disable_comments) }}
  <a href="{{ .Permalink }}#disqus_thread" class="article-comment-link">
    {{with .Site.Data.l10n.articles.comments}}{{.}}{{end}}
  </a>
  {{end}}

</footer>
